<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}">
<head>
    <title>Home Page</title>
</head>
<body>
    <main>
        <h1>Home Page</h1>
        <hr>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolores ex, aliquid, dolor ducimus impedit alias quaerat repellendus aperiam eligendi cupiditate? Optio adipisci repudiandae enim velit obcaecati reiciendis voluptates aperiam.
        </p>
    </main>
</body>
</html>